@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@font-face {
    font-family: 'SUITE';
    font-weight: 400;
    font-style: normal;
    src: url('./fonts/SUITE-Regular.woff2') format('woff2');
}

body {
    margin: 100px auto;
    max-width: 720px;
    background: #ffffff;
    font-family: Pretendard;
}

h1 {
    font-family: SUITE;
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
}
h2 {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.4;
}
p {
    font-size: 1.0625rem;
    line-height: 1.6;
    color: #0c0c0c;
}
.source {
    font-size: 0.9375rem;
    line-height: 1;
    color: #aaaaaa;
    text-align: center;
}
img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}
hr {
    border: none;
    height: 1px;
    background-color: #999999;
    opacity: 40%;
}